@import url(structure.css);


.nav {
    position: relative;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    list-style-type: none;
    top: 45px;
    margin-left: 40px;
}

.nav li {
    display: inline-block !important;
    margin-right: 30px;
    font-family: "times new roman",times,serif;
}

.nav li, .button {
    cursor: pointer;
    font-weight: 700;
    height: 100%;
    line-height: 54px;
    padding: 0;
    font-family: caribbean;
    font-weight: bold;
    font-size: 15px;
}
.button span:hover {
    color: #990000;
}


.nav li a:hover {
    color: #AB7232;
}

.bullets::before {
  content: url(../images/plate.png);
  position: relative;
  left: -40px;
  top: 5px;
}

.button {
    background: url('../images/button1.png');
    width : 144px;
    height: 40px;
    color: #fff;
}

.button span {
    position: relative;
    color: white;
    font-size: 20px;
    font: 24px/1.4em "times new roman",times,serif;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    display: inline-table;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    top: -4px;
}

p, .p {
    font-size:16px;
    text-shadow:#ffffff 0px 0px 6px;
    font-family:times new roman;
    word-wrap: break-word;
    line-height: normal;
    text-align: center;
    margin:0;
    padding:0;
    left: 50%;
    position: relative;
    width: 540px;
    margin-left: -270px;
    font-family: Tahoma;
}

br {
    margin-bottom:30px;
}


.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.partners {
    padding-top: 20px;
}

.partners a {
    margin: 0px 20px;
}

.social img {
    margin: 5px 10px;
}

.footer_links {
    color: grey;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
}


.name_guidelines {
    list-style-image: url('../images/plate.png');
}

.pirates {
    font-family: pirates;
    font-size: 140%;
}
.pirates2 {
    font-family: pirates2;
    font-size: 140%;
}
.pirates3 {
    font-family: pirates3;
    font-size: 140%;
}
.name_guidelines li {
    font-family: pirates3;
    font-weight: lighter;
    font-size: 15px;
}

ul.book {
    list-style-image: url(../images/book.png);
    margin: 0;
    padding: 0;
    line-height: normal;
}

.footer_links ul {
    list-style-type: none;
}

.footer_links  li {
    display: inline;
    margin-left: 35px;
}

.footer_links  li a {
    text-decoration: none;
    color: grey;
}
.footer_links  li a:hover {
   color: #990000;
}

.foot_msg {
    color:rgb(255, 255, 255);
    font-family:times new roman,times,serif;
    font-size: 13px;
    font-style: italic;
}

h2.welcome {
    font-size:20px;
    color:#AB7232;
    font-weight:normal;
    font-family:times new roman,times,serif;
    text-align: left;
}

.content, .header, .footer {
    position: relative;
    text-align: center;
    top: 0px;
}

.banner {
    position: relative;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: 0 -2px;
    width: 500px;
    height: 194px;
}

.banner img {
    width: 400px;
}

.clock {
    position: relative;
    top: 18px;
    float: left;
    width: 240px;
    padding: 0 20px;
}


/* CSS Code Added 4-28-2017 Glare Masters */
.conten_footer {
    position: absolute;
    background-repeat: repeat-y;
    height: 335px;
    object-fit: cover;
    z-index: 11;
    margin-left: -26px;
    width:831px;
    bottom: 0;
}
.content_page {
    position: relative;
    background-repeat: repeat-y;
    width: 800px;
    line-height: 30px;
    object-fit: fill;
    margin: 0 auto 0 auto;
    z-index: 0;
    margin-top: -100px;
    padding: 100px 10px 0 50px;
    text-align: left;
}
.video iframe {
    border: 4px solid #000;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.PlayGame {
  table-layout: fixed;
    width: 100%;
    margin-left: -5px;
    font-family: arial, sans-serif;
        background-color: rgba(1,1,1,0.2)
}
th, td {
  border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

.g-recaptcha iframe {
    border: 4px solid #000;
    -moz-border-radius: 15px;
     border-radius: 15px;
    overflow: hidden;
    width: 300px;
    height: 75px;
}

.FAQ li a {
  	color: #bb1113;
}

.name_guidelines li {
  font-family: serif;
      list-style-type: disc;
      text-align: left;
      line-height: 25px;
}
.name_guidelines {
    list-style-image: none;
}

iframe {
   border: none;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.button:hover {
  outline:none;
border-color:#9ecaed;
box-shadow:0 0 20px #9ecaed;
transition: .4s;
}
.button span:hover {
    color: #990000;
    transition: .4s;
}
.footer_links li a:hover {
    color: white;
}

.foot_msg {
    color: rgb(255, 255, 255);
    font-family: times new roman,times,serif;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 35px;
}


.footer_links {
    color: grey;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    top: -25px;
}
.social-icons a {
  color:#fff;
  font-size: 30px;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:50px;
  height:40px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.social-icons a:hover {
  background: #ef92a3;
}

/* pop-up text */

.social-icons a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.social-icons a:hover {
    color: #302c24;
    transition: 0.2s;
}
/* text pops up when icon is in hover state */
.social-icons a:nth-of-type(1) {
background-color:#3b5998;
}
.social-icons a:nth-of-type(2) {
  background-color:#44ccf6;
}
.social-icons a:nth-of-type(3) {
  background-color:#ce332d;
}
.social-icons a:nth-of-type(4) {
  background-color:#604335;
}
.social-icons a:nth-of-type(5) {
  background-color:rgb(58, 132, 90) ;
}
.social-icons {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
/* font awesome icons */

.social-icons a:nth-of-type(1):before {
content:'\f09a';
}
.social-icons a:nth-of-type(2):before {
content:'\f099';
}
.social-icons a:nth-of-type(3):before {
content:'\f16a';
}
.social-icons a:nth-of-type(4):before {
content:'\f16d';
}
.social-icons a:nth-of-type(5):before {
content:'\f0e0';
}

.menu-item,
.menu-item a {
    position: relative;
    display: inline-block;
}
.menu-item a {
    padding: 12px 0 12px 12px;
    color: grey;
    text-decoration: none;
    font-variant: none;
    transition: color .4s

}
.menu-item a:focus,
.menu-item a:hover {
    color: #edeaff;
    outline: none
}
.menu-item a:focus .menu-item__text:after,
.menu-item a:hover .menu-item__text:after {
    opacity: 1
}
.menu-item a .icon {
    color: #a5cbb0;
    position: absolute;
    left: 12px;
    width: 23px;
    height: 23px
}
.menu-item a .icon:after {
    display: none;
    content: ""
}
.menu-item a .icon--right-arrow {
    position: absolute;
    height: 35px;
    width: 33px;
    right: 0;
    left: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034%2032.58%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bmask%3Aurl(%23a)%7D.b%7Bfill%3A%23578881%3Bfill-rule%3Aevenodd%3Bopacity%3A.2%7D.c%7Bfill%3A%23c9f5d5%7D.d%7Bfilter%3Aurl(%23b)%7D%3C%2Fstyle%3E%3Cfilter%20id%3D%22b%22%20x%3D%220%22%20y%3D%22-10632.32%22%20width%3D%2234%22%20height%3D%2232766%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-color%3D%22%23fff%22%20result%3D%22bg%22%2F%3E%3CfeBlend%20in%3D%22SourceGraphic%22%20in2%3D%22bg%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Ctitle%3Esm_submenu-arrow%3C%2Ftitle%3E%3Cg%20class%3D%22a%22%3E%3Cpath%20class%3D%22b%22%20d%3D%22M34%200a39.32%2039.32%200%200%200-6.62.47%2011.76%2011.76%200%200%201-3.59-.23%205.26%205.26%200%200%200-1.7.16L18%20.35l-.46-.27c-1-.35-5.83.56-6.78.7-2%20.29-3.94-.45-5.56-.7a25.58%2025.58%200%200%200-3.3.43%201.5%201.5%200%200%200-.64-.19h-1a4.15%204.15%200%200%201%200%202.6%2022.56%2022.56%200%200%201%20.2%203.26l-.2%202.46a4.19%204.19%200%200%201%20.31%202%2010.37%2010.37%200%200%200-.33%201%2011%2011%200%200%200%20.1%202.53c.07.35-.14.44-.1.85a36.09%2036.09%200%200%201%200%206c.16%201.62-.09%203.24.07%204.87A2.74%202.74%200%200%201%20.3%2027l-.3.58v1.36c0%201.17.08%202%200%203.58h.84c.06-.41.23-.77.52-.76a3.23%203.23%200%200%201%20.21.61h.06c.12%200%20.26-.48.39-.57a19.55%2019.55%200%200%201%203.28.14l4.2.09%204.56-.27%206.33.63c1.44.22%205%20.55%205.6-.47a2.92%202.92%200%200%201%201%20.23l2.87-.15a28.58%2028.58%200%200%201%204.14-.41z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 50%/cover;
    cursor: pointer
}
.menu-item a .icon--right-arrow svg {
    height: 60%;
    top: 18%
}
.header-tray--second-level .menu-item .menu-item__link {
    color: #edeaff
}
.header-tray--second-level .menu-item .menu-item__link:hover .menu-item__text:after {
    opacity: .7
}
.menu-item__text {
    display: inline-block;
    padding-right: 15px;
    position: relative;
    font-weight: bolder;
}
.menu-item__text:after {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    bottom: -10px;
    left: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .4s cubic-bezier(.47, 0, .745, .715);
    z-index: 1;
    background: url("https://glaremasters.me/i/u3j5lum.svg");
    max-width: 200px
}
.menu-item__notification {
    z-index: 1;
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.menu-item--active>a,
.menu-item--active>a:focus,
.menu-item--active>a:hover {
    color: #a5cbb0
}
.menu-item--active>a .menu-item__text:after,
.menu-item--active>a:focus .menu-item__text:after,
.menu-item--active>a:hover .menu-item__text:after {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20595.6%20198.6%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%3E%3Cstyle%3E.st0%7Bopacity%3A.26%7D.st1%7Bfill%3Aurl(%23SVGID_1_)%7D%3C%2Fstyle%3E%3Cg%20id%3D%22Layer_1%22%3E%3Ctitle%3Egb_menu_hover%3C%2Ftitle%3E%3Cg%20class%3D%22st0%22%3E%3CradialGradient%20id%3D%22SVGID_1_%22%20cx%3D%22-92.856%22%20cy%3D%22198.399%22%20r%3D%2250.39%22%20gradientTransform%3D%22matrix(5.9505%200%200%20-3.2303%20846.353%20856.435)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%2357ff8e%22%2F%3E%3Cstop%20offset%3D%22.07%22%20stop-color%3D%22%2357ff8e%22%2F%3E%3Cstop%20offset%3D%22.31%22%20stop-color%3D%22%2345c67c%22%20stop-opacity%3D%22.7%22%2F%3E%3Cstop%20offset%3D%22.56%22%20stop-color%3D%22%23348e6a%22%20stop-opacity%3D%22.4%22%2F%3E%3Cstop%20offset%3D%22.76%22%20stop-color%3D%22%2328655c%22%20stop-opacity%3D%22.18%22%2F%3E%3Cstop%20offset%3D%22.92%22%20stop-color%3D%22%23204c54%22%20stop-opacity%3D%22.05%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%231d4251%22%20stop-opacity%3D%220%22%2F%3E%3C%2FradialGradient%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M595%206.5c-.5%204.8-1.3%209.5-2.6%2014.2-.7%205.3%201.4%209.7%200%2013.7.3%201.3.9%202.4%201.6%203.5-1%209.1-1.4%2018.2-1.2%2027.4l.8%205.7v10.9c.9%203.4%201.3%206.9%201.4%2010.4-.9%204-1.2%208-1.1%2012.1.5%201.8.8%203.7.8%205.7-.5%204.6-.7%2010.5-1.4%2015.8l-1.5%206c-.3%202.2.1%204.4%201.1%206.3l-.8%208.6%202.2%2014.6v9.7l1.2%209.3v6.1l-1.1%202.1c-.7%203.1%201.2%207.3%200%209.3-10.1.8-20.3%201-30.4.7l-4.2-2.8c-7.2-2.4-14.3%203-24%201.9-12.9-2-25.9-2.6-38.9-1.9-8.2%201.2-16.4%201.5-24.7.9l-13.4.8c-1.6-.8-3.2-1.4-4.9-1.9-10.9-1.5-17.5%202.4-28.8%201.1s-23.1-4.6-37.5-3c-10.4%201.1-19.2%203.3-27.8%204.6l-25.7-1.1-27.8-.5-25.7-3.5c-15.2-.7-30.3.1-45.3%202.3l-20.5.5c-2.6-.9-5.3-1.3-8-1.4-4.3%206.1-32%204.1-43.1%202.8l-48.6-3.7-35.1%201.6-32-.6c-8.4-1.6-16.9-2.7-25.4-3.2-.9.6-1.9%201-3%201.2h-.2c-.5-.4-.9-.9-1.2-1.5-2.2%200-3.2%203-3.6%205.7-1.9%200-7.9.8-9.7.9.3-9.7-8.6-14-2.9-20.9v-8.2c0-1.1%204.6-2.3%204.9-3.5.5-3.6%201.2-4.8.6-6.5-1.2-9.7%201.8-19.3.5-29%201.4-11.8%201.6-23.8.5-35.7%200-2.5%201.5-3%201-5.1-1-5-1.2-10.1-.7-15.2.7-2.1%201.6-4.1%202.6-6.1.4-4.1-.4-8.2-2.3-11.8L10.7%2041c.1-7.4-.4-14.8-1.4-22.2%202.9-3.1%201.1-13%200-18.7H17c1.6%200%203.3%203.7%204.9%204.3C23.4%205%2041.5%203%2047%203.7c12.5%201.5%2027.3%206.5%2042.7%204.8%207.4-.9%2044.4-5.7%2052.1-3.9l3.5%201.8%2031.2.3c4.2-.9%208.6-1.2%2012.9-1%209%20.4%2018.1-.1%2027-1.6%2030.1-2.9%2060.4-4.3%2090.7-4.1h23.2c13.6.8%2027.2%202.4%2040.6%205%2021.8-.6%2043.5.3%2065.4-.3%2017-1.8%2034%203.1%2050.7%203.1%2012.6%200%2031.7-4.4%2043.8-.8-1%20.8-1.3%202.1-.7%203.2l1.8%201.5c3.5.5%207.1-.5%209.9-2.7l2.1.5c-1%201.7-1.3%203.7-1%205.7l3.1%202.1h2.8c4.3-1.5%204.9-3.8%207.3-6.5%208.3.9%2028.8-3.4%2030.8-6%202.3%200%202.9%201.8%204.6%202.3l2.3-1.4%201.2.8z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 50% 100%/100% 100%;
    opacity: 1
}
.menu-item--active>a .icon,
.menu-item--active>a:focus .icon,
.menu-item--active>a:hover .icon {
    color: #a5cbb0
}
.menu {
    z-index: 5;
    position: relative
}
.menu,
.menu .icon {
    color: #edeaff
}
.menu:after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0a;
    top: 0;
    left: 0
}
.button-chk {
padding: 0px 6px;
text-align: center;
outline: none;
display: inline-block;
cursor: pointer;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
border-style: solid;
border-width: 6px 14px;
-moz-border-image: url(https://piratesforums.com/screenshots/s0ezrfe.png) 6 14 stretch;
-webkit-border-image: url(https://piratesforums.com/screenshots/s0ezrfe.png) 6 14 stretch;
-ms-border-image: url(https://piratesforums.com/screenshots/s0ezrfe.png) 6 14 stretch;
-o-border-image: url(https://piratesforums.com/screenshots/s0ezrfe.png) 6 14 stretch;
border-image: url(https://piratesforums.com/screenshots/s0ezrfe.png) 6 14 fill stretch;
height: 40px;
width: 170px;
}
.button-chk span {
font-style: normal;
font-weight: bold;
font-size: 22px;
font-family: Cambria,Georgia,Times,"Times New Roman",serif;
color: rgb(255, 238, 238);
}
.button-chk a {
text-decoration: none;
}
.button-chk:hover {
color: #FFF;
text-decoration: none;
-moz-border-image: url(https://piratesforums.com/screenshots/d54trhl.png) 6 14 stretch;
-webkit-border-image: url(https://piratesforums.com/screenshots/d54trhl.png) 6 14 stretch;
-ms-border-image: url(https://piratesforums.com/screenshots/d54trhl.png) 6 14 stretch;
-o-border-image: url(https://piratesforums.com/screenshots/d54trhl.png) 6 14 stretch;
border-image: url(https://piratesforums.com/screenshots/d54trhl.png) 6 14 fill stretch;
}

#terms {
    background: rgba(0,0,0,.3);
    border: 1px solid #7a7a7a;
    color: #0a0a0a;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    text-align: justify;
    width: 80%;
}
.TOS li {
  line-height: 20px;
  list-style-type: disc;
}

.m a {
  font-size: 25px;
  display: inline-table;
  padding-left: 0px;
  text-align: center;
  text-decoration: none;
  top: -4px;
}

.m a:hover {
  color: #ba0000;
}
.por {
  position: relative;
  color: white;
  font-size: 20px;
  display: inline-table;
  padding-left: 0px;
  text-align: center;
  width : 144px;
  height: 40px;
  text-decoration: none;
  top: -15px;
  font-family: cursive;
  background: url('../images/button1.png');
  background-repeat: no-repeat;
  border-radius: 10px;
}
.por span {
    position: relative;
    color: white;
    font-size: 20px;
    font: 24px/1.4em "times new roman",times,serif;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    display: inline-table;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    top: 2px;
}
.direction img {
  height: 40px;
  border-radius: 10px;
}
.direction img:hover{
  outline:none;
border-color:#9ecaed;
box-shadow:0 0 20px #9ecaed;
transition: .4s;
}

#DiscordWidget {
    background: none repeat scroll 0 0 rgb(36, 36, 36);
    color: #fff;
    position: fixed;
    right: -350px;
    top: 330px;
    width: 350px;
    z-index: 99999;
}
.discordIcon {
    cursor: pointer;
    left: -45px;
    max-height: 131px;
    max-width: 100%;
    position: absolute;
    top: -4px;
}

/* ==== GRID SYSTEM ==== */

.container2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row2 {
  position: relative;
  width: 107%;
}

.row2 [class^="col"] {
  float: left;
      margin: 0.5rem 1%;
      min-height: 15.125rem;
      border-style: solid;
      border-width: 1px;
      background-color: rgba(231, 229, 147, 0.4);
      border-radius: 10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row2::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container2 {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container2 {
    width: 75%;
    max-width: 60rem;
  }
}
